$white: #ffffff;
$black: #333333;
$gray: #eeeeee;
$blue: #0575e6;
$dark-blue: #02298a;
$deep-blue: #021b79;
$composite-blue: linear-gradient(180deg, $blue 0%, $dark-blue 84.79%, $deep-blue 100%);
$red: #ff0000;
